<div class="text-primary flex flex-col justify-center text-center">
    <section class="hero container mx-auto w-1/3 ">
        <img src="../../../assets/Media/Pro-Marcke-Logo-with-tagline-1.png" class="">
    </section>
    <h1 class="text-4xl font-black py-10"> The Superior Choice Over The Competition</h1>
    <p>Pro Marcke is the dominant product in the market, offering unbeatable quality and performance at a competitive price. We take pride in our commitment to delivering the best value to our customers, and we continuously strive to beat our competitors' prices while maintaining the highest level of quality. We understand that customers want the best value for their money, and that's why we make it our mission to provide the most durable and reliable products at an affordable price. We use top-quality materials and advanced technology to produce our products, ensuring that they meet or exceed the highest industry standards. With Pro Marcke, you can be confident that you're getting the best value for your money. Our commitment to quality, performance, and affordability sets us apart from our competitors, making us the clear choice for customers who demand the best.</p>
    <h2 class="text-3xl font-bold pt-10">Pro Marcke Garbage Disposals</h2>
    <section class="hero container mx-auto ">
        <img class="mx-auto w-1/3" src="../../../assets/Media/Products_10006930.png" alt="" >
    </section>
    <p>Pro Marcke garbage disposals are one of the toughest and most durable disposals on the market. There are 4 different versions to choose from all ranging from 1/3 HP to 1¼ HP. </p>
        <br>
        <br>
    <h5 class="font-bold text-left pl-24">Thier key features include:</h5>
        <br>
    <ul class="text-left pl-32 list-disc">
        <li>Bio Shield® Antimicrobial for odor protection</li>
        <li>Torque Master® balanced grinding system</li>
        <li>Stainless steel grinding components</li>
        <li>Full sounds insulation</li>
        <li>3 bolt mount</li>
        <li>Can handle the toughest food scraps, bones, and more!</li>
        <li>Featuring the best in class warranty</li>
    </ul>
    <br>
    <br>
    <section class="hero container mx-auto w-2/3">
        <img class="" src="../../../assets/Media/Pro-Marcke-Disposal-Matrix-1.png">
    </section>
    <div>
       <app-promarcke-feature></app-promarcke-feature>
    </div>
</div>