<div class="text-center flex justify-center flex-col mx-60">
    <div>
    </div>
    <div class="text-primary text-center flex flex-col justify-center">
       
        <h1 class="text-primary text-5xl font-black text-center">GET BONUS REWARDS WITH VAN MARCKE PLUMBING SUPPLY</h1>
        <img class="my-12" src="../../../assets/Media/rewards-768x254-1.png">
        <p>
            We never lose sight of what makes Van Marcke Plumbing Supply a success, our customers. We like to believe we have a special relationship with our customers. Our Bonus Rewards program is our way of saying, "Thank you."
                <br>
                <br>
            As a Bonus Rewards member you earn one point each time you spend $150.00 on a ticket. Reward points are accrued over a rolling 18 month period. The more points you earn the bigger your reward will be. You can begin redeeming your points when you reach 30, or you can save them for larger rewards!
                <br>
                <br>
            If you are interested in our monthly promotions and would like to be entered into our prize raffles, <strong>Click Here</strong> or text the word "plumbing" to (855) 533-1345 in order to opt into our mailing list.
                <br>
                <br>
            Signing up for Van Marcke Bonus Rewards is simple. Simply submit a list of authorized employees for your company to a Van Marcke store employee. We will issue each authorized employee a unique pin number. Each time you make a purchase at a Van Marcke store, you simply enter your pin to earn your points. It's that easy!
                <br>
                <br>
        </p>
        <div class="mt-5 sm:mt-8 sm:flex sm:justify-center lg:justify-center">
            <div class="rounded-md shadow-md mb-10">
                <button href="#"
                    class="hover:bg-primary w-full flex items-center justify-center px-8 py-3  border border-transparent text-base font-medium rounded-md text-white bg-tertiary  md:py-4 md:text-lg md:px-10">
                    BECOME A REWARDS MEMBER
            </button>
            </div>
        </div>
    </div>

</div>