<div class="pb-10">
    <div class="flex justify-center text-center px-36 pb-6">
      <h1 class="text-primary text-5xl font-black">VIEW OUR CURRENT PROMOTIONS BY SELECTING YOUR STATE</h1>
    </div>
    <div class="flex justify-center">
      <div class="my-1 px-1 w-full md:w-1/2 lg:my-4 lg:px-4 lg:w-1/3">
          <a href="/az-promos">
        <!-- Article -->
        <article class="overflow-hidden flex flex-col bg-gray-100 flex justify-center rounded-lg shadow-lg">
          <div class="flex justify-center mt-3">
              <img class="w-1/3" src="../../../assets/Media/Arizona-300x285.png">
           </div> 
  
          <header
            class="flex items-center justify-center leading-tight p-2 md:p-4"
          >
            <h1 class="text-lg text-center">
              <a class="no-underline text-3xl font-bold hover:underline text-primary" href="#">
                ARIZONA
                <br>
                PROMOTIONS
              </a>
            </h1>
          </header>
  
          <footer
            class="flex items-center justify-between leading-none p-2 md:p-4"
          >
            
          </footer>
        </article>
        <!-- END Article -->
      </a>
      </div>
      <div class="my-1 px-1 w-full md:w-1/2 lg:my-4 lg:px-4 lg:w-1/3">
          <a href="/nv-promos">
        <!-- Article -->
        <article class="overflow-hidden flex flex-col bg-gray-100 flex justify-center rounded-lg shadow-lg">
          <div class="flex justify-center mt-3">
              <img class="w-1/3" src="../../../assets/Media/Nevada-1-300x285.png">
           </div> 
  
          <header
            class="flex items-center justify-center leading-tight p-2 md:p-4"
          >
            <h1 class="text-lg text-center">
              <a class="no-underline text-3xl font-bold hover:underline text-primary" href="#">
                NEVADA
                <br>
                PROMOTIONS
              </a>
            </h1>
          </header>
  
          <footer
            class="flex items-center justify-between leading-none p-2 md:p-4"
          >
            
          </footer>
        </article>
        <!-- END Article -->
      </a>
      </div>
      <div class="my-1 px-1 w-full md:w-1/2 lg:my-4 lg:px-4 lg:w-1/3">
          <a href="/tx-promos">
        <!-- Article -->
        <article class="overflow-hidden flex flex-col bg-gray-100 flex justify-center rounded-lg shadow-lg">
          <div class="flex justify-center mt-3">
              <img class="w-1/3" src="../../../assets/Media/Texas-1-300x285-1-_dragged_.png">
           </div> 
  
          <header
            class="flex items-center justify-center leading-tight p-2 md:p-4"
          >
            <h1 class="text-lg text-center">
              <a class="no-underline text-3xl font-bold hover:underline text-primary" href="#">
                TEXAS 
                <br>
                PROMOTIONS
              </a>
            </h1>
          </header>
          <footer
            class="flex items-center justify-between leading-none p-2 md:p-4"
          >
          </footer>
        </article>
        <!-- END Article -->
      </a>
      </div>
    </div>
    <div class="text-center px-36">
        <h1 class="text-primary text-4xl font-medium">
            REGISTER FOR OUR SPECIALS BY FILLING OUT THE FORM BELOW
        </h1>
<div class="isolate bg-white px-6 py-2 sm:py-2 lg:px-8">
    <div class="absolute inset-x-0 top-[-10rem] -z-10 transform-gpu overflow-hidden blur-3xl sm:top-[-20rem]" aria-hidden="true">
      
    </div>
    <form action="#" method="POST" class="mx-auto mt-16 max-w-xl sm:mt-20">
      <div class="grid grid-cols-1 gap-x-8 gap-y-6 sm:grid-cols-2">
        <div>
          <label for="first-name" class="block text-sm font-semibold leading-6 text-gray-900">First name</label>
          <div class="mt-2.5">
            <input type="text" name="first-name" id="first-name" autocomplete="given-name" class="block w-full rounded-md border-0 px-3.5 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-secondary sm:text-sm sm:leading-6">
          </div>
        </div>
        <div>
          <label for="last-name" class="block text-sm font-semibold leading-6 text-gray-900">Last name</label>
          <div class="mt-2.5">
            <input type="text" name="last-name" id="last-name" autocomplete="family-name" class="block w-full rounded-md border-0 px-3.5 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-secondary sm:text-sm sm:leading-6">
          </div>
        </div>
        <div class="">
          <label for="company" class="block text-sm font-semibold leading-6 text-gray-900">Company</label>
          <div class="mt-2.5">
            <input type="text" name="company" id="company" autocomplete="organization" class="block w-full rounded-md border-0 px-3.5 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-secondary sm:text-sm sm:leading-6">
          </div>
        </div>
        <div class="">
          <label for="email" class="block text-sm font-semibold leading-6 text-gray-900">Email</label>
          <div class="mt-2.5">
            <input type="email" name="email" id="email" autocomplete="email" class="block w-full rounded-md border-0 px-3.5 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-secondary sm:text-sm sm:leading-6">
          </div>
        </div>
        <div class="hidden">
          <label id="spamCheck" class="block text-sm font-semibold leading-6 text-gray-900">Email</label>
          <div class="mt-2.5">
            <input type="email" name="email" id="spamCheck" autocomplete="email" class="block w-full rounded-md border-0 px-3.5 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
          </div>
        </div>

<span class="max-w-sm mx-auto">
    <label for="countries" class="block text-sm font-semibold leading-6 text-gray-900">Select Your State</label>
    <select id="countries" class="bg-gray-50 mt-2.5 w-64 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-secondary  block p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white">
  
      <option>Arizona</option>
      <option>Nevada</option>
      <option>Texas</option>
    </select>
</span>
  <div class="">
    <label for="city" class="block text-sm font-semibold leading-6 text-gray-900">City</label>
    <div class="mt-2.5">
      <input type="city" name="city" id="city" autocomplete="city" class="block w-full rounded-md border-0 px-3.5 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-primary sm:text-sm sm:leading-6">
    </div>
  </div>
        <!-- <div class="sm:col-span-2">
          <div class="relative mt-2.5">
            <div class="absolute inset-y-0 left-0 flex items-center">
              <label for="country" class="sr-only">State</label>
              <select id="country" name="country" class="h-full rounded-md border-0 bg-transparent bg-none py-0 pl-4 pr-9 text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm">
                <option>Arizona</option>
                <option>Nevada</option>
                <option>Texas</option>
              </select>
              <svg class="pointer-events-none absolute right-3 top-0 h-full w-5 text-gray-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z" clip-rule="evenodd" />
              </svg>
            </div>
          </div>
        </div> -->
      </div>
      <div class="mt-10 ">
        <button  class="block w-full bg-tertiary dark:bg-tertiary rounded-md px-3.5 py-2.5 text-center text-sm font-semibold text-white shadow-sm ">SIGN UP & SAVE</button>
      </div>
    </form>
  </div>
    </div>
  </div>
  