

<div class="text-primary text-center font-extrabold text-5xl mx-40 my-12">
    <h1>NEVADA PROMOTIONS OCTOBER / NOVEMBER 2023</h1>
</div>
  <div class="flex flex-row justify-center rounded-md shadow-[0_3px_10px_rgb(0,0,0,0.2)] mx-24">
      <div class="max-w-sm rounded text-primary">
          <img class="w-full" [src]="promoItem.productImage?.fields?.file?.url" alt=""/>
    </div>
    <div class="text-primary flex flex-col self-center">
        <h2 class="font-bold uppercase text-3xl border-b pb-3">{{ promoItem.productName }}</h2>
        <h2><span class="font-semibold">Promotional Price: </span><span class="text-secondary">{{ promoItem.promoPrice | currency }}</span></h2>
        <h2><span class="font-semibold">Retail Price: </span>  <s class="text-red-500">{{ promoItem.retailPrice | currency}}</s></h2>
        <h2><span class="font-semibold">Product Description: </span>{{ promoItem.productDescription }}</h2>
        <h2><span class="font-semibold">SKU: </span>{{ promoItem.sku }}</h2>
    </div>
  </div>
<div class="flex justify-around flex-wrap grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4">
    <div *ngFor="let item of promoItems" class="flex-row max-w-md overflow-hidden bg-white rounded-md shadow-[0_3px_10px_rgb(0,0,0,0.2)]  md:max-w-2xl m-3">
        <div class="md:flex flex flex-col">
            <div class="md:flex-shrink-0 flex py-6 justify-center">
                <img routerLink="/" class="h-48 w-full object-contain md:w-48 cursor-pointer" [src]="item.productImage.fields.file.url" alt="Product image">
            </div>
            <div class="p-4">
                <h2 class="uppercase tracking-wide text-2xl text-primary border-b font-black">{{ item.productName }}</h2>
                <p class="mt-2 text-primary font-bold ">Promotional Price: <span class="text-secondary">{{ item.promoPrice | currency }}</span></p>
                <p class="mt-2 text-primary"><span class="font-semibold">Retail Price: </span><s class="text-red-600">{{ item.retailPrice | currency }}</s></p>
                <p class="mt-2 text-primary"><span class="font-semibold">Product Description: </span>{{ item.productDescription }}</p>
                <p class="mt-2 text-primary"><span class="font-semibold">SKU: </span>{{ item.sku }}</p>
            </div>
            <div class="my-3 sm:mt-2 sm:flex sm:justify-center lg:justify-center">
                <div class="rounded-md shadow-md ">
                    <button href="#"
                        class="hover:bg-primary w-full flex items-center justify-center px-8 py-3 border border-transparent text-base font-medium rounded-md text-white bg-secondary  md:py-4 md:text-lg md:px-10">
                        FIND A LOCATION
                </button>
                </div>
            </div>
        </div>
    </div>
</div>
 
