<div class="mb-10">
    <div class="flex justify-center text-primary">
        

    <form class="w-3/5">
        <h1 class="text-center font-bold text-5xl text-primary my-8">Corporate Contact Form</h1>

<form class="max-w-sm mx-auto">
    <label for="countries" class="block mb-2 text-sm font-medium text-primary dark:text-white">Department Selection</label>
    <select id="countries" class="mb-6 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-secondary focus:border-secondary block w-full p-2.5">
  
      <option>Accounting</option>
      <option>Chief Operations Officer</option>
      <option>Administration</option>
      <option>Human Resources</option>
      <option>IT</option>
      <option>Marketing</option>
      <option>Sales</option>
      <option>Purchasing/Warehouse</option>
      <option>International Filter</option>
      <option>Merchandising</option>
    </select>
  </form>
  
        <div class="grid gap-6 mb-6 md:grid-cols-2">
            <div>
                <label for="first_name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">First Name<span class="text-red-600 text-md">*</span></label>
                <input type="text" id="first_name" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-secondary focus:border-secondary block w-full p-2.5 " placeholder="" required>
            </div>
            <div>
                <label for="last_name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Last Name<span class="text-red-600 text-md">*</span></label>
                <input type="text" id="last_name" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-secondary focus:border-secondary block w-full p-2.5 " placeholder="" required>
            </div>
            <div>
                <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Email<span class="text-red-600 text-md">*</span></label>
                <input type="text" id="email" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-secondary focus:border-secondary block w-full p-2.5 " placeholder="" required>
            </div>  
            <div>
                <label for="phone" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Phone Number</label>
                <input type="tel" id="phone" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-secondary focus:border-secondary block w-full p-2.5 " placeholder="111-222-3333" required>
            </div>
            
        </div>
        <div class="w-full mb-8">
            <form class="max-w-full mx-auto">
                <label for="message" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Your message</label>
                <textarea id="message" rows="4" class="block w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-secondary focus:border-secondary" placeholder=""></textarea>
              </form>
        </div>
        <button type="submit" class="text-white bg-secondary hover:bg-primary focus:ring-4 focus:outline-none focus:ring-primary font-medium rounded-lg text-sm w-full sm:w-auto px-10 py-4 text-center">Submit</button>
    </form>
    
    </div>
</div>