

<div class="flex flex-col justify-center">
    <div class=" flex flex-col justify-center mb-4 border-gray-200 dark:border-gray-700 place-items-center">
        <ul class=" flex flex-wrap  -mb-px text-sm font-medium  text-center " id="default-tab" data-tabs-toggle="#default-tab-content" role="tablist">
            <li class="me-2 mx-10" role="presentation">
                <button class="aria-selected:border-secondary aria-selected:text-secondary aria-selected:hover:text-secondary inline-block p-4 border-b-2 rounded-t-lg text-3xl font-semibold" id="profile-tab" data-tabs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">Arizona</button>
            </li>
            <li class="me-2 mx-10" role="presentation">
                <button class="aria-selected:border-secondary aria-selected:text-secondary aria-selected:hover:text-secondary inline-block p-4 border-b-2 rounded-t-lg text-3xl font-semibold hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300" id="dashboard-tab" data-tabs-target="#dashboard" type="button" role="tab" aria-controls="dashboard" aria-selected="false">Nevada</button>
            </li>
            <li class="me-2 mx-10" role="presentation">
                <button class="aria-selected:border-secondary aria-selected:text-secondary aria-selected:hover:text-secondary inline-block p-4 border-b-2 rounded-t-lg text-3xl font-semibold hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300" id="settings-tab" data-tabs-target="#settings" type="button" role="tab" aria-controls="settings" aria-selected="false">Texas</button>
            </li>
        </ul>
    </div>
    <div id="default-tab-content">
        <div class="hidden px-36 pb-10 rounded-lg bg-white dark:bg-white" id="profile" role="tabpanel" aria-labelledby="profile-tab">
            
            <!-- Arizona Schedule -->

<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
    <table class="w-full text-sm text-left rtl:text-right text-primary dark:text-primary">
        <thead class="text-xs text-white uppercase bg-primary dark:bg-primary dark:text-white">
            <tr>
                <th scope="col" class="px-6 py-3">
                    STORE
                </th>
                <th scope="col" class="px-6 py-3">
                    ADDRESS
                </th>
                <th scope="col" class="px-6 py-3">
                    DAY
                </th>
                <th scope="col" class="px-6 py-3">
                    TIME
                </th>
               
            </tr>
        </thead>
        <tbody>
            <tr class="odd:bg-white odd:dark:bg-white even:bg-white even:dark:bg-white border-b dark:border-gray-400">
                <th scope="row" class="px-6 py-4 font-medium text-primary whitespace-nowrap dark:text-primary">
                    Bell Road
                </th>
                <td class="px-6 py-4">
                    2340 W Bell Rd
                </td>
                <td class="px-6 py-4">
                    Mon
                </td>
                <td class="px-6 py-4">
                    11-1
                </td>
            </tr>
            <tr class="odd:bg-white odd:dark:bg-grey even:bg-grey/20 even:dark:bg-grey/20 border-b dark:border-gray-400">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    Goodyear
                </th>
                <td class="px-6 py-4">
                    14190 W Van Buren St
                </td>
                <td class="px-6 py-4">
                    Mon
                </td>
                <td class="px-6 py-4">
                    11-1
                </td>
            </tr>
            <tr class="odd:bg-white odd:dark:bg-white even:bg-white even:dark:bg-white border-b dark:border-gray-400">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    Tempe
                </th>
                <td class="px-6 py-4">
                    7450 S Priest Dr
                </td>
                <td class="px-6 py-4">
                    Mon
                </td>
                <td class="px-6 py-4">
                    11-1
                </td>
            </tr>
            <tr class="odd:bg-white odd:dark:bg-grey/20 even:bg-grey/20 even:dark:bg-grey/20 border-b dark:border-gray-400">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    Indian School
                </th>
                <td class="px-6 py-4">
                    2304 E Indian School Rd
                </td>
                <td class="px-6 py-4">
                    Tue
                </td>
                <td class="px-6 py-4">
                    11-1
                </td>
            </tr>
            <tr class="odd:bg-white odd:dark:bg-white even:bg-white even:dark:bg-white border-b dark:border-gray-400">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    Mesa
                </th>
                <td class="px-6 py-4">
                    1440 S Country Club Dr
                </td>
                <td class="px-6 py-4">
                    Tue
                </td>
                <td class="px-6 py-4">
                    11-1
                </td>
            </tr>
            <tr class="odd:bg-white odd:dark:bg-grey/20 even:bg-grey/20 even:dark:bg-grey/20 border-b dark:border-gray-400">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    Bethany
                </th>
                <td class="px-6 py-4">
                    6025 W 27th Ave
                </td>
                <td class="px-6 py-4">
                    Wed
                </td>
                <td class="px-6 py-4">
                    11-1
                </td>
            </tr>
            <tr class="odd:bg-white odd:dark:bg-white even:bg-white even:dark:bg-white border-b dark:border-gray-400">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    East Mesa
                </th>
                <td class="px-6 py-4">
                    7143 E Southern Ave
                </td>
                <td class="px-6 py-4">
                    Wed
                </td>
                <td class="px-6 py-4">
                    11-1
                </td>
            </tr>
            <tr class="odd:bg-white odd:dark:bg-grey/20 even:bg-grey/20 even:dark:bg-grey/20 border-b dark:border-gray-400">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    Peoria
                </th>
                <td class="px-6 py-4">
                    11808 N 91st Ave
                </td>
                <td class="px-6 py-4">
                    Thu
                </td>
                <td class="px-6 py-4">
                    11-1
                </td>
            </tr>
            <tr class="odd:bg-white odd:dark:bg-white even:bg-white even:dark:bg-white border-b dark:border-gray-400">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    Scottsdale
                </th>
                <td class="px-6 py-4">
                    8175 E Raintree Dr
                </td>
                <td class="px-6 py-4">
                    Thu
                </td>
                <td class="px-6 py-4">
                    11-1
                </td>
            </tr>
            <tr class="odd:bg-white odd:dark:bg-grey/20 even:bg-grey/20 even:dark:bg-grey/20 border-b dark:border-gray-400">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    Queen Creek
                </th>
                <td class="px-6 py-4">
                    7931 E Pecos Rd
                </td>
                <td class="px-6 py-4">
                    Thu
                </td>
                <td class="px-6 py-4">
                    11-1
                </td>
            </tr>
            <tr class="odd:bg-white odd:dark:bg-white even:bg-white even:dark:bg-white border-b dark:border-gray-400">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    Chandler
                </th>
                <td class="px-6 py-4">
                    930 E Pecos Rd
                </td>
                <td class="px-6 py-4">
                    Fri
                </td>
                <td class="px-6 py-4">
                    11-1
                </td>
            </tr>
            <tr class="odd:bg-white odd:dark:bg-grey/20 even:bg-grey/20 even:dark:bg-grey/20 border-b dark:border-gray-400">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    University
                </th>
                <td class="px-6 py-4">
                    813 E University Dr
                </td>
                <td class="px-6 py-4">
                    Fri
                </td>
                <td class="px-6 py-4">
                    11-1
                </td>
            </tr>
            <tr class="odd:bg-white odd:dark:bg-white even:bg-white even:dark:bg-white border-b dark:border-gray-400">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    McKellips
                </th>
                <td class="px-6 py-4">
                    1444 N Scottsdale
                </td>
                <td class="px-6 py-4">
                    Fri
                </td>
                <td class="px-6 py-4">
                    11-1
                </td>
            </tr>
            <tr class="odd:bg-white odd:dark:bg-grey/20 even:bg-grey/20 even:dark:bg-grey/20  dark:border-gray-400">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    West Tucson 
                </th>
                <td class="px-6 py-4">
                    1121 W Grant Rd
                </td>
                <td class="px-6 py-4">
                    Fri
                </td>
                <td class="px-6 py-4">
                    11-1
                </td>
            </tr>
        </tbody>
    </table>
</div>

        </div>
        <div class="hidden px-36 pb-10 rounded-lg bg-white dark:bg-white" id="dashboard" role="tabpanel" aria-labelledby="dashboard-tab">
            
            <!-- Nevada Schedule -->

<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
    <table class="w-full text-sm text-left rtl:text-right text-primary dark:text-primary">
        <thead class="text-xs text-white uppercase bg-primary dark:bg-primary dark:text-white">
            <tr>
                <th scope="col" class="px-6 py-3">
                    NAME
                </th>
                <th scope="col" class="px-6 py-3">
                    ADDRESS
                </th>
                <th scope="col" class="px-6 py-3">
                    DAY
                </th>
                <th scope="col" class="px-6 py-3">
                    TIME
                </th>
                
            </tr>
        </thead>
        <tbody>
            <tr class="odd:bg-white odd:dark:bg-white even:bg-white even:dark:bg-white border-b dark:border-gray-400">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    E Las Vegas
                </th>
                <td class="px-6 py-4">
                    2115 Civic Center Dr
                </td>
                <td class="px-6 py-4">
                    Tue
                </td>
                <td class="px-6 py-4">
                    11-1
                </td>
                
            </tr>
            <tr class="odd:bg-white odd:dark:bg-grey even:bg-grey/20 even:dark:bg-grey/20 border-b dark:border-gray-400">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    NW Las Vegas
                </th>
                <td class="px-6 py-4">
                    5803 W Craig Rd
                </td>
                <td class="px-6 py-4">
                    Wed
                </td>
                <td class="px-6 py-4">
                    11-1
                </td>
                
            </tr>
            <tr class="odd:bg-white odd:dark:bg-white even:bg-white even:dark:bg-white border-b dark:border-gray-400">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    W Las Vegas
                </th>
                <td class="px-6 py-4">
                    8650 W Tropicana Ave
                </td>
                <td class="px-6 py-4">
                    Thu
                </td>
                <td class="px-6 py-4">
                    11-1
                </td>
                
            </tr>
            <tr class="odd:bg-white odd:dark:bg-grey even:bg-grey/20 even:dark:bg-grey/20  dark:border-gray-400">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    Henderson
                </th>
                <td class="px-6 py-4">
                    1075 American Pacific Dr
                </td>
                <td class="px-6 py-4">
                    Fri
                </td>
                <td class="px-6 py-4">
                    11-1
                </td>
                
            </tr>
        </tbody>
    </table>
</div>

        </div>
        <div class="hidden px-36 pb-10 rounded-lg bg-white dark:bg-white" id="settings" role="tabpanel" aria-labelledby="settings-tab">
            
            <!-- Texas Schedule -->

<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
    <table class="w-full text-sm text-left rtl:text-right text-primary dark:text-primary">
        <thead class="text-xs text-white uppercase bg-primary dark:bg-primary dark:text-white">
            <tr>
                <th scope="col" class="px-6 py-3">
                    NAME
                </th>
                <th scope="col" class="px-6 py-3">
                    ADDRESS
                </th>
                <th scope="col" class="px-6 py-3">
                    DAY
                </th>
                <th scope="col" class="px-6 py-3">
                    TIME
                </th>
            </tr>
        </thead>
        <tbody>
            <tr class="odd:bg-white odd:dark:bg-white even:bg-white even:dark:bg-white border-b dark:border-gray-400">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    Farmers Branch
                </th>
                <td class="px-6 py-4">
                    2430 Valley View Lane
                </td>
                <td class="px-6 py-4">
                    Tue
                </td>
                <td class="px-6 py-4">
                    11-1
                </td>
            </tr>
            <tr class="odd:bg-white odd:dark:bg-grey even:bg-grey/20 even:dark:bg-grey/20 border-b dark:border-gray-400">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    North Richland Hills
                </th>
                <td class="px-6 py-4">
                    7519  Blvd 26
                </td>
                <td class="px-6 py-4">
                    Wed
                </td>
                <td class="px-6 py-4">
                    11-1
                </td>
                
            </tr>
            <tr class="odd:bg-white odd:dark:bg-white even:bg-white even:dark:bg-white border-b dark:border-gray-400">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    Fort Worth
                </th>
                <td class="px-6 py-4">
                    5203 McCart Ave
                </td>
                <td class="px-6 py-4">
                    Thu
                </td>
                <td class="px-6 py-4">
                    11-1
                </td>
            
            </tr>
            <tr class="odd:bg-white odd:dark:bg-grey even:bg-grey/20 even:dark:bg-grey/20  dark:border-gray-400">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    Arlington
                </th>
                <td class="px-6 py-4">
                    715 W Lamar Blvd
                </td>
                <td class="px-6 py-4">
                    Fri
                </td>
                <td class="px-6 py-4">
                    11-1
                </td>
                
            </tr>
        </tbody>
    </table>
</div>
</div>
<div class="my-5 sm:mt-0 sm:flex sm:justify-center lg:justify-center">
    <div class="rounded-md shadow-md ">
        <button href="#"
            class="hover:bg-primary w-full flex items-center justify-center px-8 py-3 border border-transparent text-base font-medium rounded-md text-white bg-tertiary  md:py-4 md:text-lg md:px-10">
            Download Schedule
    </button>
    </div>
</div>
</div>
</div>
