<div class="text-primary flex flex-col text-center px-36">
    <h1 class="text-5xl font-black pb-4">STORE LUNCH SCHEDULE</h1>
    <p class="border-b pb-4">Here at Van Marcke Plumbing Supply we pride ourselves in showing our customers and vendors that we appreciate their contributions to our business.  
        One way that we do this is by providing a free weekly lunch in each of our stores. This provides a great opportunity for us to get to know each of our customers on a personal basis, which helps us service them better in the future.
       <br>
       <br> 
        Our store lunches also provide our vendors with an excellent opportunity to get their messages directly to the people that matter; our customers. Whether you have a new product to introduce, or would like to simply let our customers know that your support is available; it is a great opportunity to strengthen your brand and get valuable insight from the end users of your products.
    </p>
</div>
<app-lunch-schedule></app-lunch-schedule>