<div class="max-w-md mx-auto bg-white rounded-xl shadow-md overflow-hidden md:max-w-2xl m-3">
    <div class="p-4 flex items-center">
        <div class="pr-4 bg-secondary p-2 rounded-lg text-center">
        <p class="text-4xl font-bold text-white">18th</p>
        <p class="text-sm text-white">November, 2023</p>
        </div>
        <div class="ml-4">
        <div class="uppercase tracking-wide text-sm text-primary ">11:00 AM - 1:00 PM</div>
        <h1 class="mt-2 text-primary font-semibold">Sloan Counter Day - East Mesa</h1>
        <p class="mt-2 text-grey">East Mesa - Southern Ave 7143 E. Southern Ave, Ste 107 Mesa, AZ 85209, Mesa</p>
        <p class="mt-2 text-grey">Sloan will be stopping by with big updates and lunch on wednesday, 1/10/24, from 11AM to 1PM</p>
        </div>
    </div>
    </div>