<div>
<div class="flex justify-center my-10">

    <div class="w-1/2 p-6 bg-white rounded-lg dark:bg-gray-800 dark:border-gray-700">
            <h5 class="mb-2 text-6xl font-black tracking-tight text-primary dark:text-primary">EVERYTHING YOU NEED TO COMPLETE YOUR NEXT PLUMBING JOB</h5>
    </div>
    
    
    <div class="w-1/2 p-6 bg-white rounded-lg dark:bg-gray-800 dark:border-gray-700">
            <h5 class="mb-2 mt-8 text-lg font-medium tracking-tight text-grey dark:text-grey">We carry products from the leading suppliers of tools, fittings, water heaters, vitreous china, and just about every other plumbing product you can think of at a competitive price. We have well over 6,000 different plumbing products in stock at over 25 locations serving Arizona, Nevada & Texas.</h5>
            <div class="mt-5 sm:mt-8 sm:flex sm:justify-center lg:justify-start">
                <div class="rounded-md shadow-md ">
                    <button href="#"
                        class="hover:opacity-75 w-full flex items-center justify-center px-8 py-3 border border-transparent text-base font-medium rounded-md text-white bg-tertiary uppercase md:py-4 md:text-lg md:px-10">
                        View Line Card
                </button>
                </div>
            </div>
    </div>
</div>


    <!-- Brand Carousel -->


    <div class="mb-10 flex flex-col items-center bg-white text-center text-primary dark:bg-neutral-600 dark:text-neutral-200">
      <div class="container p-6">
        <div class="grid gap-4 md:grid-cols-3 lg:grid-cols-6">
          <div class="mb-6 lg:mb-0">
            <img
              src="../../../assets/Media/American_standard_logo_detail.png"
              class="w-full rounded-md shadow-lg" />
          </div>
          <div class="mb-6 lg:mb-0">
            <img
              src="../../../assets/Media/uponor-logo-vector.png"
              class="w-full rounded-md shadow-lg" />
          </div>
          <div class="mb-6 lg:mb-0">
            <img
              src="../../../assets/Media/Milwaukee_Logo.svg.png"
              class="w-full rounded-md shadow-lg" />
          </div>
          <div class="mb-6 lg:mb-0">
            <img
              src="../../../assets/Media/Rudd-Logo-min.png"
              class="w-full rounded-md shadow-lg" />
          </div>
          <div class="mb-6 lg:mb-0">
            <img
              src="../../../assets/Media/Logos_IFilter.png"
              class="w-full rounded-md shadow-lg" />
          </div>
          <div class="mb-6 lg:mb-0">
            <img
              src="../../../assets/Media/Grundfos-Logo-min.png"
              class="w-full rounded-md shadow-lg" />
          </div>
        </div>
      </div>
    </div>
</div>